/*
* Global options.
*/

*
{
  box-sizing: border-box;
  border-radius: 15px;
}

body
{
  font-size: 12pt;
  padding: 0;
  margin: 0;
  border-width: 0;
  background-color: darkgreen;
}


/*
* Board and main panel.
*/

#board_main
{
  display: flex;
  flex-flow: column nowrap;

  position: fixed;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#the_board
{
  flex-basis: fill;

  overflow: auto;
  scroll-behavior: smooth;

  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
}

#the_board p
{
  margin-left: 15%;
  margin-right: 15%;

  text-align: center;
  white-space: pre-wrap;
  padding: 5px;

  background-color: #dff;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
}

#the_board p.owner
{
  background-color: #ffe;
}

#the_board p .user_info
{
  float: right;
  font-size: 50%;
  background-color: #ffe;
}

#the_board p.owner .user_info
{
  display: none;
}

#the_panel
{
  flex-basis: min-content;

  display: flex;
  flex-flow: column nowrap;

  left: 5px;
  right: 5px;
  text-align: center;
}

#the_panel > div
{
  height: 100%;
}

#board_main .user_panel
{
  color: white;
}

#board_main .user_panel li
{
  display: inline;
  padding: 1em;
}

#board_main .user_panel button
{
  padding: 10px;
}

#input_preview
{
  display: none;
  position: fixed;
  white-space: pre-wrap;
  top: 15px;
  left: 30px;
  right: 30px;
  max-height: 50%;
  background-color: #fb5;
  color: black;
}

#input_box:focus-within #input_preview,
#input_preview:focus-within
{
  display: block;
}

#input_preview:before
{
  content: 'Seu texto vai ficar assim...';
  font-size: 70%;
  display: block;
}

#input_box .tex_input
{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  border-style: none;
  background-color: rgba(0,0,0,0);
  background-image: linear-gradient(to top, rgba(0, 100, 0, 1), rgba(0, 100, 0, .3) 80%);
}

#input_box .input_and_button
{
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#input_box .input_and_button input,
#input_box .input_and_button button,
#input_box .input_and_button textarea
{
  height: 100%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  border-radius: 35px;
}

#input_box .tex_input .tex_keyboard
{
  display: none;
}

#input_box .tex_input:focus .tex_keyboard,
#input_box .tex_input:focus-within .tex_keyboard
{
  display: flex;
}


#input_box .tex_input input[type="submit"]:focus-within,
#input_box .tex_input:focus-within .tex_area
{
  outline: none;
  border-color: lightgray;
  background-color: #FFFFFFDD;
}

#input_box .tex_area
{
  width: 60%;
  font-size: 16pt;
  padding-left: 20px;
  padding-right: 20px;
  caret-color: red;
}

#input_box input[type='submit']
{
  margin: 0px;
  padding: 0px;
  width: 15%;
  min-width: 3em;
  font-size: 16pt;
}


/*
* Activity log feedback.
*/

#feedback
{
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px;
  background-color: lightyellow;
}


/*
* Side panel.
*/

#auxiliary_panel
{
  position: fixed;
  width: 25%;
  min-width: 250px;
  left: 2px;
  top: 2px;
  bottom: 2px;
  overflow: hidden;

  background: linear-gradient(to right, lightyellow, 20%, transparent);
  clip: rect(auto, 40px, 40px, auto);
}

#auxiliary_panel:hover
{
  overflow: auto;
  background: none lightyellow;
  clip: auto;
}

.is_guest #auxiliary_panel
{
  display: none;
}
