.tex_keyboard button
{
  min-height: 3em;
  min-width: 3em;
  border-radius: 10px;
  border-color: gray;
  background-color: black;
  color: white;
  padding: 5px;
}

.tex_keyboard button.key_down
{
  background-color: rgba(255,0,100,.5);
}

.tex_keyboard
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tex_block_control
{
}

.non_control_block
{
  display: flex;
  justify-content: center;
}

.tex_fixed_buttons
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  flex-basis: 0%;
}

.tex_fixed_buttons button
{
  flex: auto;
}

.tex_fixed_buttons .tex_blocks
{
  display: flex;
  flex-flow: row wrap;
}

.tex_fixed_buttons .tex_navigation
{
  display: flex;
  flex-flow: column nowrap;
}

.tex_fixed_buttons .tex_navigation > *
{
  display: flex;
  flex-flow: row nowrap;
}

.tex_active_keys
{
  display: flex;
}

.tex_active_keys > *
{
  width: 7em;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tex_active_keys > .numbers
{
  width: 10em;
}

.tex_active_keys .order_0
{
  order: 0;
  display: flex;
}

.tex_active_keys .order_1
{
  order: 1;
  display: flex;
}

.tex_active_keys .order_2
{
  order: 2;
  display: flex;
}

.tex_active_keys .order_3
{
  order: 3;
  display: flex;
}


/*
* For tex preview.
*/

.selection_math
{
  background-color: lightblue;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
}

.formula_math
{
  background-color: #eee;
  border-radius: 2px;
  display: inline flow-root;
}

mjx-box
{
  border-radius: 0px;
}

.caret_block_math
{
  border-style: solid;
  border-color: blue;
  border-width: 1px;
}

.caret_math
{
  animation-name: caret_blinker;
  animation-duration: 1s;
  animation-iteration-count: 10;
  font-size: 120%;
  color: red;
}

@keyframes caret_blinker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
