<form class="login_form" {{ login_form_extra|safe }} method="post" action="{{ url_for('login') }}">
  <input type="text" name="user_name" placeholder="Login" />
  <input type="password" name="password" placeholder="Senha" />
  <input type="submit" value="Entrar" />
</form>
