<form class="register_form" {{ register_form_extra|safe }} method="post" action="{{ url_for('register') }}">
  <input type="text" name="user_name" placeholder="Login" />
  <input type="text" name="print_name" placeholder="Nome do usuário" />
  <input type="text" name="email" placeholder="Seu e-mail" />
  <input type="password" name="password" placeholder="Senha" />
  <input type="submit" value="Criar Novo Usuário" />
</form>
