{% extends "layout.html" %}

{% block heading %}
  Aula: {{board.print_name }}.
  Curso: {{ board.course.print_name }}.
{% endblock %}

{% block head_extra %}
  <script>
    var _OWNER_NAME = '{{ board.course.owner.name }}'
  </script>

  <script src="/static/js/board.js" defer></script>
  <script src="/static/js/peer.js" defer></script>

  <script src="/static/vue/login_form.js" defer></script>
  <script src="/static/vue/registration_form.js" defer></script>

  <script src="/static/vue/message_board.js" defer></script>
  <script src="/static/vue/peer_list.js" defer></script>
  <script src="/static/vue/user_info.js" defer></script>

  <script src="/static/vue/owner_panel.js" defer></script>
  <script src="/static/vue/peer_panel.js" defer></script>
  <script src="/static/vue/guest_panel.js" defer></script>

  <script src="/static/vue/tex_keyboard/tex_tree.js" defer></script>
  <script src="/static/vue/tex_keyboard/keyboard_layouts.js" defer></script>
  <script src="/static/vue/tex_keyboard/keyboard_keyset.js" defer></script>
  <script src="/static/vue/tex_keyboard/keyboard_textarea.js" defer></script>
  <script src="/static/vue/the_panel.js" defer></script>
  <script src="/static/vue/board_app.js" defer></script>
{% endblock %}

{% block body %}
  <div id="board_main">
  </div>
  <div id="feedback">
  </div>
{% endblock %}
