{% extends "layout.html" %}

{% block heading %}
  Curso: {{ course.print_name }}.
{% endblock %}

{% block body %}
  <h1>{{ course.print_name }}</h1>

  <ul>
    {% for board in course.boards %}
      <li><a href="{{
        url_for(
          'board',
          owner_name=course.owner.name,
          course_name=course.name,
          board_name=board.name
        )
      }}">{{ board.print_name }}</a></li>
    {% endfor %}
  </ul>

  {% if course.owner_id == user.id %}
    <form method="post" action="{{ url_for('create_board', course_name=course.name) }}">
      <input type="text" name="name" placeholder="Nome do link (e.g.: definicao_determinante)" />
      <br />
      <input type="text" name="print_name"
        placeholder="Nome da Aula (e.g.: 07 - definição de determinante" />
      <br />
      <textarea name="description" placeholder="Descrição"></textarea>
      <br />
      <input type="submit" name="Criar nova aula" />
    </form>
  {% endif %}
{% endblock %}
