{% extends "layout.html" %}

{% block heading %}
  Painel de controle do usuário.
{% endblock %}

{% block body %}
  <h1>Lista de Quadros: ({{ user.print_name }})</h1>

  {% for course in user.courses %}
    <div>
      <h2>{{ course.print_name }}</h2>

      <ul>
        {% for board in course.boards %}
          <li><a href="{{
            url_for(
              'board',
              owner_name=course.owner.name,
              course_name=course.name,
              board_name=board.name
            )
          }}">{{ board.print_name }}</a></li>
        {% endfor %}
      </ul>

      <form method="post" action="{{ url_for('create_board', course_name=course.name) }}">
        <input type="text" name="name" placeholder="Nome do link (e.g.: definicao_determinante)" />
        <br />
        <input type="text" name="print_name"
          placeholder="Nome da Aula (e.g.: 07 - definição de determinante" />
        <br />
        <textarea name="description" placeholder="Descrição"></textarea>
        <br />
        <input type="submit" name="Criar nova aula" />
      </form>
    </div>
  {% endfor %}

  <h2>Criar Novos Cursos</h2>

  <form method="post" action="{{ url_for('create_course') }}">
    <input type="text" name="name" placeholder="Nome do link (e.g.: ial)" />
    <br />
    <input type="text" name="print_name"
      placeholder="Nome do Curso (e.g.: Introdução à Álgebra Linear)" />
    <br />
    <textarea name="description" placeholder="Descrição"></textarea>
    <br />
    <input type="submit" name="Criar novo curso" />
  </form>
{% endblock %}
