{% extends "layout.html" %}

{% block heading %}
  ABoard: quadro negro virtual.
{% endblock %}

{% block body %}
  <h1>Login</h1>
  {% include 'common/login_form.html' %}

  <h1>Cadastro de Novos Usuários</h1>
  {% include 'common/register_form.html' %}

  <h1>Welcome ABoard!!!</h1>

  <p>
    O ABoard é um quadro negro virtual (ainda em desenvolvimento).
    É quase um "chat".
    Mas tem um "dono do quadro".
    O dono do quadro pode escrever.
    Os demais, podem escrever se autorizados.
    O que dá pra fazer:
  </p>

  <ol>
    <li>Criar um (ou vários) quadro negro virtual e compartilhar com qualquer pessoa.</li>
    <li>Escrever em $\LaTeX$!!!</li>
    <li>
      Levantar a mão e pedir pra usar o quadro, quando você não é o dono do quadro.
      Eu adorava fazer isso quando era estudante! :-)
    </li>
  </ol>

  <p>
    Ainda tem muito o que quero implementar.
    Por exemplo:
  </p>

  <ol>
    <li>Fazer upload de imagens (com antecedência), para poder utilizá-las na aula.</li>
    <li>Corrigir mensagens já enviadas.</li>
    <li>Chamar atenção dos ouvintes para uma mensagem passada.</li>
    <li>Rabiscar.</li>
    <li>Falar com <q>streaming</q>.</li>
    <li>Controlar a lista de presença automaticamente.</li>
    <li>Emoticons.</li>
  </ol>

  <p>
    Sugestões são muito bem-vindas!
    Contato:
    <a href="mailto:andre.em.caldas@gmail.com">andre.em.caldas@gmail.com</a>.
  </p>
{% endblock %}
