<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />

  <title>{% block heading %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/keyboard.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/board.css"/>

    <meta name="description" content="Quadro negro virtual para aulas ou monitorias."/>
    <meta name="keywords" content="quadro, quadro negro, quardo branco, whiteboard, blackboard"/>
    <meta name="language" content="pt-br"/>

    <!-- jQuery: https://jquery.com/ -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      defer
      integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
      crossorigin="anonymous">
    </script>

    <!-- Js Cookie: https://github.com/js-cookie/js-cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"
      defer
      integrity="sha384-/fzlFUZom6xS9MDIM/aUQgYzL5J7DoVBOewwG5T3d+sDjQK7hQ7VyQiqfohXwUHK"
      crossorigin="anonymous">
    </script>

    <!-- MathJax: https://www.mathjax.org/ -->
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
        },
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3.0.5/es5/tex-mml-chtml.js"
      defer
      integrity="sha384-L+g9M+CMLhBJNIlTx7C1IQRQV7IL/wRmGNxXVP6CPEJjVhE5LE1EBMVJtmmdueyg"
      crossorigin="anonymous">
    </script>

    <!-- Vue: https://vuejs.org/ -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"
      integrity="sha512-PyKhbAWS+VlTWXjk/36s5hJmUJBxcGY/1hlxg6woHD/EONP2fawZRKmvHdTGOWPKTqk3CPSUPh7+2boIBklbvw=="
      crossorigin="anonymous">
    </script>

    {% block head_extra %}
    {% endblock %}
  </head>

  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
